@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #000;
  overflow: hidden;
}

.waves {
  position: fixed;
  inset: 0;
  z-index: 0;
  background:
    radial-gradient(
      circle at 0% 50%,
      transparent 20%,
      rgba(255, 255, 255, 0.418) 21%,
      transparent 22%
    ),
    radial-gradient(
      circle at 50% 50%,
      transparent 20%,
      rgba(255, 255, 255, 0.459) 21%,
      transparent 22%
    ),
    radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      rgba(255, 255, 255, 0.438) 21%,
      transparent 22%
    );

  background-size: 200px 120px;
  animation: waves 6s linear infinite;
}

@keyframes waves {
  from {
    background-position: 0 0, 100px 30px, 200px 0;
  }
  to {
    background-position: -200px 0, -100px 30px, 0 0;
  }
}


.content {
  position: fixed;
  top: 40px;
  left: 250px;
  z-index: 1;
}

.content h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 5em;
}

.content h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #8338ec;
}

.content h1:nth-child(2) {
  color: #c19bf5;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%, 100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.Logo  {
  border-width: 2px;
  border-color: #ffffff;
}