@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #000;
  overflow: hidden;
}

.waves {
  position: fixed;
  inset: 0;
  z-index: 0;
  background:
    radial-gradient(
      circle at 0% 50%,
      transparent 20%,
      rgba(255, 255, 255, 0.418) 21%,
      transparent 22%
    ),
    radial-gradient(
      circle at 50% 50%,
      transparent 20%,
      rgba(255, 255, 255, 0.459) 21%,
      transparent 22%
    ),
    radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      rgba(255, 255, 255, 0.438) 21%,
      transparent 22%
    );

  background-size: 200px 120px;
  animation: waves 6s linear infinite;
}

@keyframes waves {
  from {
    background-position: 0 0, 100px 30px, 200px 0;
  }
  to {
    background-position: -200px 0, -100px 30px, 0 0;
  }
}


.content {
  position: fixed;
  top: 40px;
  left: 150px;
  z-index: 1;
}

.content .Logo {
  position: fixed;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: bold;
  
  border-color: #461689b4;
  border-width: 2px;
  border-style: solid;
  border-bottom-right-radius: 20px;
  border-left-width: 0;
  border-top-width: 0;
}

.content .Logo:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #8338ec;
}

.content .Logo:nth-child(2) {
  color: #c19bf5;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%, 100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.Menus {
  border-style: solid;
  border-width: 3px;
  border-color: #461689b4;
  background-color: #000 ;
  border-radius: 20px;

  margin-top: 76px;
  height: calc(100vh - 76px);
  width: 100px;

  justify-content: center;
  place-content: center;
}

.Installs {
  color: rgb(224, 224, 224);
  font-weight: bold;
  
  text-align: center;
  font-size: large;
  border-style: solid;
  border-color: rgba(240, 248, 255, 0.562);
  border-width: 2px;
  border-radius: 15px;
}

.Projects {
  color: rgb(224, 224, 224);
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-size: large;
  border-style: solid;
  border-color: rgba(240, 248, 255, 0.562);
  border-width: 2px;
  border-radius: 15px;
}