@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  min-height: 100vh;
  background: #000;
  overflow: hidden;
}

.waves {
  height: 100vh;
  background-color: #060606;
  background-image:
    linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
  background-size: 40px 40px;
  animation: waves 10s linear infinite; 

}

@keyframes waves {
  from {
    background-position: 0 0, 100px 30px, 200px 0;
  }
  to {
    background-position: -200px 0, -100px 30px, 0 0;
  }
}


.content {
  position: fixed;
  top: 40px;
  left: 150px;
}

.content .Logo {
  position: fixed;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: bold;

  box-shadow: 0 8px 25px rgba(99, 32, 194, 0.4);
  border-color: #461689b4;
  border-width: 2px;
  border-style: solid;
  border-bottom-right-radius: 20px;
  border-left-width: 0;
  border-top-width: 0;
}

.content .Logo:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #8338ec;
}

.content .Logo:nth-child(2) {
  color: #c19bf5;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%, 100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.Menus {
  position: fixed;
  border-style: solid;
  border-width: 3px;
  border-color: #461689b4;
  background-color: rgba(12, 12, 12, 0.8) ;
  border-radius: 20px; 

  top: 0;
  margin-top: 76px;
  height: calc(100vh - 76px);
  width: 150px;

  justify-content: center;
  place-content: center;
}

LinkButton {
  display: block;            
  
  width: 100%;            
  max-width: 240px;          
  
  padding: 11px 0;  
  margin-top: 10px;
  color: aliceblue;
  box-shadow: 0 8px 25px rgba(40, 14, 80, 0.603);
  font-size: 20px;        
  font-weight: bold;
  text-align: center;
  
  background-color: #4616894b;
  border: 1px solid rgba(67, 5, 148, 0.85);
  border-radius: 30px;
  
  transition: all 0.2s ease;
  cursor: pointer;
}

LinkButton:hover {
  background-color: rgba(114, 31, 231, 0.4);
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(99, 32, 194, 0.4);
}

LinkButton:active {
  background-color: rgba(114, 31, 231, 0.4);
  transform: scale(0.98) translateY(1px);
  box-shadow: 0 8px 25px rgba(99, 32, 194, 0.4);
}

.page {
  display: relative;   
  border: 3px solid #461689b4;
  background-color: rgba(12, 12, 12, 0.8);
  border-radius: 20px;
  margin-left: 150px;
  position: fixed;

  top: 0;
  width: calc(100% - 150px);
  margin-top: 76px;
  height: calc(100vh - 76px);

  justify-items: center;
  align-items: center;
}

.JustText {
  font-weight: bold;
  color: aliceblue;
  margin-left: 50%;
}